header{
    width: 1114px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    font-family: 'Open Sans';
    padding: 10px 0 100px;
}

main{
    width: 1114px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

span{
    color: #1abc9c;
    font-weight: 900;
}
.logo{
    font-family: 'Roboto';
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 200;
    float: left;
    cursor: pointer;
    list-style-type: none;
    margin-right: 432px;
}
.nav-bar{
    text-transform: uppercase;
    margin-top: 10px;
    font-weight:bold;
    float: left;
    cursor: pointer;
    list-style-type: none;
    margin-left: 32px;
}

.list{
    margin-left: 520px;
}

.decoration{
    margin-left: auto;
    margin-right: auto;
    width: 165px;
    height: 7px;
    background: rgb(98,202,178);
}




/*//////////////////Main Part//////////////////// */


.product{
    margin-top: 50px;
    width: 1140px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.title{
    
    font-size: 48px;
    font-weight: 900;
    color: #515151;
    font-family: "Roboto";
    text-align: center;
    text-transform: uppercase;
    
}

.card{
    margin-right: 30px;
    margin-bottom: 30px;
    top: 80px;
    width: 255px;
    height: 322px;
    position: relative;
    float: left;
}

.product-info{
    width: 255px;
    height: 40px;
    position: absolute;
    top: 281px;
   
}


.name-product{
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    width: 200px;
    height: 40px;
    background: rgb(50,50,50);
    float: left;
}



.card-price{
    
    float: left;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    width: 55px;
    height: 40px;
    background: rgb(135,144,141);
    color: white;
}

.info-text{
  margin-left: 15px;
  margin-top: 10px;
  text-transform: uppercase;
  
}
.info-price{
  margin-left: 14px;
  margin-top: 9px;
  
}

.news{
    margin-top: 848px;
    width: 1140px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.title-news{
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 900;
    color: #515151;
    font-family: "Roboto";
    text-align: center;
}

.card-news{
    margin-top: 80px;
    width: 350px;
    float: left;
    margin-right: 30px;

}

h2{
    color: #555252;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.decoration-text{
    background-color: #4ec6ab;
    height: 3px;
    display: block;
    width: 137px;
    margin-top: 15px;
    margin-bottom: 30px;
}
button{
    color: white;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 17px 42px;
    background-color: #4ec6ab;
    border: 2px solid #4ec6ab;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.card:hover .product-info .name-product{
    
    background-color: #1abc9c;
    cursor: pointer;
}
.card:hover .product-info .card-price{
    
    background-color: #7fd9c7;
    cursor: pointer;
    
}
.card:hover img{
    
    cursor: pointer;
    
}