.block{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    float: left;
    background: blue;
}
.block:nth-child(3n){
    margin-left: 10px;
    width: 50px;
    height: 50px;
    float: left;
    background: red;
}
.first{
    margin-left: 10px;
    
}
.first:focus{
    margin-left: 10px;
    border: 2px solid blue;
    
}

.req:required{
    border: 2px solid purple;
}

/*
.req:disabled{
    border: 1px solid grey;
}
*/

